简单整合两种结果，取平均

In [9]:
import pandas as pd
pd.options.display.max_rows = 10

In [2]:
doc2vec_result = pd.read_csv('../Sentiment/result/doc2vec_dbow.csv', header=0)
bow_result = pd.read_csv('../Sentiment/result/BOW_chi_tfidf.csv', header=0)

In [4]:
num_reviews = bow_result['id'].size

In [5]:
doc2vec_result.head()

         id  sentiment
0  12311_10          1
1    8348_2          0
2    5828_4          0
3    7186_2          0
4   12128_7          1

In [6]:
bow_result.head()

         id  sentiment
0  12311_10          1
1    8348_2          0
2    5828_4          1
3    7186_2          1
4   12128_7          1

这里有一个问题，我所有的输出都是1或0。但是这里用概率值来求平均其实更合适。这部分内容我重新创建两个笔记本计算。在Part2.9里得到doc2vec模型结果的概率值，在Part1.2中得到bow模型结果的概率值。

In [7]:
doc2vec_result = pd.read_csv('../Sentiment/result/doc2vec_lr100_prob.csv', header=0)
bow_result = pd.read_csv('../Sentiment/result/bow_lr_prob.csv', header=0)

In [10]:
doc2vec_result

             id  sentiment
0      12311_10   0.999102
1        8348_2   0.001458
2        5828_4   0.221463
3        7186_2   0.101056
4       12128_7   0.894636
...         ...        ...
24995   2155_10   0.837904
24996     59_10   0.998978
24997    2531_1   0.120141
24998    7772_8   0.995364
24999  11465_10   0.584385

[25000 rows x 2 columns]

In [11]:
bow_result

             id  sentiment
0      12311_10   0.957915
1        8348_2   0.067389
2        5828_4   0.643179
3        7186_2   0.622250
4       12128_7   0.876200
...         ...        ...
24995   2155_10   0.713807
24996     59_10   0.937113
24997    2531_1   0.338033
24998    7772_8   0.955151
24999  11465_10   0.623416

[25000 rows x 2 columns]

构建一个新的dataframe，sentiment的部分是两个结果的平均值

In [30]:
combine = pd.DataFrame(data={'id': bow_result['id'], 
                             'sentiment': (bow_result['sentiment']+doc2vec_result['sentiment']) / 2})
combine

             id  sentiment
0      12311_10   0.978509
1        8348_2   0.034424
2        5828_4   0.432321
3        7186_2   0.361653
4       12128_7   0.885418
...         ...        ...
24995   2155_10   0.775856
24996     59_10   0.968046
24997    2531_1   0.229087
24998    7772_8   0.975258
24999  11465_10   0.603901

[25000 rows x 2 columns]

In [33]:
combine['sentiment'] = combine['sentiment'] >= 0.5

In [34]:
combine

             id  sentiment
0      12311_10       True
1        8348_2      False
2        5828_4      False
3        7186_2      False
4       12128_7       True
...         ...        ...
24995   2155_10       True
24996     59_10       True
24997    2531_1      False
24998    7772_8       True
24999  11465_10       True

[25000 rows x 2 columns]

In [37]:
combine['sentiment'] = combine['sentiment'].astype('int')

In [38]:
combine

             id  sentiment
0      12311_10          1
1        8348_2          0
2        5828_4          0
3        7186_2          0
4       12128_7          1
...         ...        ...
24995   2155_10          1
24996     59_10          1
24997    2531_1          0
24998    7772_8          1
24999  11465_10          1

[25000 rows x 2 columns]

In [39]:
print("output...")
combine.to_csv('../Sentiment/result/combine.csv', index=False, quoting=3)

output...

最后的得分是0.88992，确实是迄今为止最好的结果，不过也只比bow模型的0.8816好了一点而已。